<section class="devise-wrapper devise-password-wrapper">
  <div class="container">

    <!-- Title --->
    <div class="devise-title">
      <div class="row">
        <div class="col s12 m6 l6 offset-m3 offset-l3">
          <h1>
            <% if I18n.locale == :en %>
              Change your password
            <% else %>
              Selecciona tu contraseña
            <% end %>
          </h1>
        </div>
      </div>
    </div>
    <!-- ./Title --->

    <!-- Content --->
    <div class="devise-content">
      <div class="row">
        <div class="col s12 m6 l6 offset-m3 offset-l3">

          <div class="row">
            <div class="col s12">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "administrators/shared/error_messages", resource: resource %>
                <%= f.hidden_field :reset_password_token %>

                <div class="row">
                  <div class="col s12">
                    <div class="input-field">
                      <% if I18n.locale == :en %>
                        <%= f.label :password, 'Password (6 characters minimum)' %>
                      <% else %>
                        <%= f.label :password, 'Contraseña (6 caracteres mínimo)' %>
                      <% end %>
                      <%= f.password_field :password, id: :password, class: 'validate', autofocus: true, autocomplete: 'off' %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col s12">
                    <div class="input-field">
                      <% if I18n.locale == :en %>
                        <%= f.label :password_confirmation %>
                      <% else %>
                        <%= f.label :password_confirmation, 'Confirmar Contraseña' %>
                      <% end %>
                      <%= f.password_field :password_confirmation, id: :password_confirmation, class: 'validate', autocomplete: 'off' %>
                    </div>
                  </div>
                </div>

                <div class="center-align btn-wrapper">
                  <!-- Large Screens -->
                  <div class="hide-on-small-only">
                    <% if I18n.locale ==  :en %>
                      <%= f.submit 'Save', class: 'btn btn-large btn-bgt width-100' %>
                    <% else %>
                      <%= f.submit 'Guardar', class: 'btn btn-large btn-bgt width-100' %>
                    <% end %>
                  </div>
                  <!-- ./Large Screens -->

                  <!-- Small Screens -->
                  <div class="hide-on-med-and-up">
                    <% if I18n.locale ==  :en %>
                      <%= f.submit 'Save', class: 'btn btn-small btn-bgt width-100-percent' %>
                    <% else %>
                      <%= f.submit 'Guardar', class: 'btn btn-small btn-bgt width-100-percent' %>
                    <% end %>
                  </div>
                  <!-- ./Small Screens -->
                </div>

              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col s12 center-align">
              <%= render "administrators/shared/links" %>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- ./Content --->

  </div>
</section>

<%# TODO: Review Devise Password Edit (change password view) %>
<!--
<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %>
  <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>
-->