<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12 m6 l6">
      <div class="input-field">
        <% if I18n.locale == :en %>
          <%= form.label :email, 'E-mail' %>
        <% else %>
          <%= form.label :email, 'Correo electr칩nico' %>
        <% end %>
        <%= form.email_field :email %>
      </div>
    </div>

    <% if organization_signed_in? %>
      <div class="col s12 m6 l6">
        <div class="input-field">
          <% if I18n.locale == :en %>
            <%= form.label :organization_id, 'Organization' %>
          <% else %>
            <%= form.label :organization_id, 'Organizaci칩n' %>
          <% end %>
          <% if @user.organization_id.blank? %>
            <%= form.text_field :organization_id  %>
            <%# TODO: ADD DROPDOWN LIST %>
          <% else %>
            <input type="text" value="<%= @user.organization.name %>" disabled>
          <% end %>
          <%= form.hidden_field :organization_id, id: :organization_id, value: value=@user.organization_id %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col s12 m6 l6">
      <div class="input-field">
        <% if I18n.locale == :en %>
          <%= form.label :first_name, 'First Name' %>
        <% else %>
          <%= form.label :first_name, 'Nombre' %>
        <% end %>
        <%= form.text_field :first_name %>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="input-field">
        <% if I18n.locale == :en %>
          <%= form.label :last_name, 'Last Name' %>
        <% else %>
          <%= form.label :last_name, 'Apellido' %>
        <% end %>
        <%= form.text_field :last_name %>
      </div>
    </div>
  </div>

  <% if administrator_signed_in? %>
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="input-field">
          <% if I18n.locale == :en %>
            <%= form.label :password, 'Password' %>
          <% else %>
            <%= form.label :password, 'Contrase침a' %>
          <% end %>
          <%= form.password_field :password %>
        </div>
      </div>

      <div class="col s12 m6 l6">
        <div class="input-field">
          <% if I18n.locale == :en %>
            <%= form.label :password_confirmation, 'Password Confirmation' %>
          <% else %>
            <%= form.label :password_confirmation, 'Confirmar contrase침a' %>
          <% end %>
          <%= form.password_field :password_confirmation %>
        </div>
      </div>
    </div>
  <% end %>


  <!-- Submit -->
  <div class="row">
    <div class="col s12 m6 offset-m3 l4 offset-l4 center-align form-actions">
      <% if I18n.locale == :es %>
        <%= form.submit 'Guardar', class: 'btn-app btn-app-dark width-100' %>
      <% else %>
        <%= form.submit 'Save', class: 'btn-app btn-app-dark width-100' %>
      <% end %>
    </div>
  </div>
  <!-- ./Submit -->
<% end %>
