<section class="page-wrapper private-wrapper index-wrapper">
  <div class="container-app">

    <!-- Title -->
    <div class="title">
      <h1>
        <% if I18n.locale == :en %>
          Users
        <% else %>
          Usuarios
        <% end %>
      </h1>
    </div>
    <!-- ./Title -->

    <!-- Content -->
    <div class="content">

      <table>
        <thead>
        <tr>
          <th>
            <% if I18n.locale == :en %>
              Organization
            <% else %>
              Organización
            <% end %>
          </th>
          <th>
            <% if I18n.locale == :en %>
              Avatar
            <% else %>
              Avatar
            <% end %>
          </th>
          <th>
            <% if I18n.locale == :en %>
              Name
            <% else %>
              Nombre
            <% end %>
          </th>
          <th>
            <% if I18n.locale == :en %>
              Email
            <% else %>
              Correo electrónico
            <% end %>
          </th>
          <th>
            <% if I18n.locale == :en %>
              # Invitees
            <% else %>
              # Invitados
            <% end %>
          </th>
          <th>
            <% if I18n.locale == :en %>
              Invited
            <% else %>
              Invitado
            <% end %>
          </th>
          <th>
            <% if I18n.locale == :en %>
              Accepted
            <% else %>
              Acepto
            <% end %>
          </th>
          <th>
            <% if I18n.locale == :en %>
              Inviter
            <% else %>
              Invitador
            <% end %>
          </th>

          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
          <tr>
            <% if user.organization_id.blank? %>
              <td colspan="1"></td>
            <% else %>
              <td>
                <%= link_to organization_path(user.organization_id) do %>
                  <%= user.organization.name %>
                <% end %>
              </td>
            <% end %>
            <td colspan="1"></td>
            <td>
              <%= link_to user_path(user) do %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.email %></td>

            <td>
              <%= user.invitees.count %>
            </td>
            <td>
              <% if user.created_by_invite? %>
                <% if I18n.locale == :en %>
                  Yes
                <% else %>
                  Sí
                <% end %>
              <% else %>
                No
              <% end %>
            </td>
            <td>
              <% if user.invitation_accepted? %>
                <% if I18n.locale == :en %>
                  Yes
                <% else %>
                  Sí
                <% end %>
              <% else %>
                No
              <% end %>
            </td>
            <td>
              <%= inviter(user) %>
            </td>

            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New User', new_user_path %> <br>

      <% if organization_signed_in? %>
        <%= link_to 'Invite New User', new_user_invitation_path(organization_id: current_organization.id) %>
      <% else %>
        <%= link_to 'Invite New User', new_user_invitation_path %>
      <% end %>

    </div>
    <!-- ./Content -->

  </div>
</section>