<section class="footer-bg">
  <div class="footer-content-wrapper">

    <!-- Social -->
    <div class="footer-social-wrapper">
      <div class="social-icon-wrapper">
        <%= link_to '#', class: 'social-icon', target: '_blank' do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>
      </div>

      <div class="social-icon-wrapper">
        <%= link_to '#', class: 'social-icon', target: '_blank' do %>
          <i class="fab fa-instagram"></i>
        <% end %>
      </div>

      <div class="social-icon-wrapper">
        <%= link_to '#', class: 'social-icon', target: '_blank' do %>
          <i class="fab fa-twitter"></i>
        <% end %>
      </div>

      <div class="social-icon-wrapper">
        <%= link_to '#', class: 'social-icon', target: '_blank' do %>
          <i class="fab fa-youtube"></i>
        <% end %>
      </div>

      <div class="social-icon-wrapper">
        <%= link_to '#', class: 'social-icon', target: '_blank' do %>
          <i class="fab fa-github"></i>
        <% end %>
      </div>

      <div class="social-icon-wrapper">
        <%= link_to '#', class: 'social-icon', target: '_blank' do %>
          <i class="fab fa-twitch"></i>
        <% end %>
      </div>
    </div>
    <!-- ./Social -->

    <!-- Navigation Links -->
    <div class="footer-navigation-wrapper">
      Navigation links here
    </div>
    <!-- ./Navigation Links -->

    <!-- Newsletter Subscription -->
    <div class="footer-subscription-wrapper">
      Newsletter subscription here
    </div>
    <!-- ./Newsletter Subscription -->
  </div>


  <!-- © Copyright  -->
  <div class="footer-content-wrapper">

    ©2021 Copyright

  </div>
</section>